<script>
document.title = "Menu principal"
</script>
<div class="alert">
  <h3> Alertas </h3>
  <span style=text-decoration:blink>
  <% unless @inactive == 0 %>
    <li>Há <%= @inactive %> slots de fábrica não ativados</li>
  <% end %>
  <% if @small_fleet == true %>
    <li>Há alguma frota inferior a 200 créditos</li>
  <% end %>
  <% if @round.attack? %>
    <li>Revise os resultados de todos os combates</li>
  <% end %>
  </span>
<br>
  <% @all_squads.each do |squad| %>
    <span style=text-decoration:blink;color:#<%= squad.color %>>
      <%= squad.name + " pronto  " if squad.ready? %>
      <br>
    </span>
  <% end %>

<div align=right><a href="/users/sign_out"> Logout </a></div>
</div>





