
<% planet.results.sort_by{|a| [a.round.number, a.squad.name, a.generic_unit.id, a.quantity]}.each do |fleet| %>
  <% if fleet.round.number >= planet.results.maximum("round_id") && fleet.squad != @squad && planet.results.any? { |result| result.squad == @squad && result.round == fleet.round } %>
     <info class="tooltip">
     <tip><%= raw fleet.description %></tip>
     <% unless fleet.final_quantity <= 0 && fleet.captor == nil %>
       <span style="<%= raw fleet.span_style %>; opacity: 0.3">
       <% @round_number = fleet.round.number %>
       <%= fleet.show %>
       </span>
       <br>
     <% end %>
     </info>
  <% end %>
<% end %>
<% if @round_number %>

<% end %>
