<% content_for :for_head do %>
  <script>
  document.title = "Galactic Wars"
  </script>  
<% end %>
<div class="mainpage">
<h2> Galactic Wars ) </h2>
<a href="http://wgbrnavies.wordpress.com" target=_blank> Blog do GW (regras)</a> 
<a href = "" onclick="window.open('/settings', 'Settings', 'toolbar=yes, location=no, scrollbars=yes, resizable=no, width=1150, height=600')">Setup</a> 
<a href = "" onclick="window.open('/images/mapa-expanded.swf', 'Mapa Expandido', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=1800, height=1200')">JOGAR</a> 
<br><br>
<h3> Changelog (09/03/2016) </h3>
<span style=line-height:22px; word-wrap: normal>
<ul>
<li>NOVO SISTEMA DE FÁBRICAS:</li>
<li>Compre naves e equipamentos diretamente nas fábricas com "pontos de produção"</li>
<li>A compra de naves é debitada do saldo de pontos da fábrica e pode ser acumalada</li>
<li>Movimentação e capturas zeram o saldo da fábrica</li>
</ul>
</span>
<h3> Instruções Básicas </h3>
<span style=line-height:22px; word-wrap: normal>
<ul>
<li>ATACANTE x DEFENSOR. O sistema randomiza quem toma a iniciativa de ataque. O defensor é o host do jogo.</li>
<li>RESPONSABILIDADE. O GW é um jogo de turnos. Por isso é necessário estar presente pelo menos 1 vez por semana para não prejudicar os outros jogadores. Pense no GW como aquele futebol semanal com os amigos =).</li>
<li>LAG. Todos estamos sujeitos a pegar um lag daqueles! É interessante fazer um melee antes pra testar.</li>
<li>EVITE DISCUTIR REGRAS. As regras foram discutidas e jogadas por mais de 4 anos e quase todas as situações estão previstas. Se houver alguma situação extremamente inesperada apenas pode ser alterada por UNANIMIDADE.</li>
<li>OVERFLEET. Para facilitar o jogo e evitar Overfleet evite acumular muitas unidades diferentes num mesmo planeta.</li>
<li>SEJA PACIENTE - Eventualmente o server fica lento. Não clique várias vezes. Espere o sistema efetuar as operações e na dúvida reinicie o browser.</li>
<li>FUGAS. O jogador tem de mínimo 2 a no máximo 10 minutos para fugir. Em qualquer momento da partida você avisa pelo TS ou Curse. Lembre que a fuga custa grana (20% da frota) e não tem destino certo.</li>
<li>NAVES. Praticamente todas as naves do XWA são pilotáveis. Inclusive as Capital Ships.</li>
<li>DÚVIDAS SOBRE UNIDADES. Basta passar o mouse sobre a unidade para informações.</li>
<li>OBJETIVOS: Vence quem atingir o objetivo antes dos demais, como no WAR.</li>
Para quaisquer outras dúvidas acesse o Blog do GW (link no topo da página).<br>
BOM JOGO!
</ul>
</span>
</div>
