<span style="font-size: 22px;font-weight: bold">
X-Wing Galactic Wars
</span>
<br>
http://gw.servegame.com:4000
<br><br>
Turno virou galera!!!
<br><br>
<%= @status %>
<br>
<br>
Esta mensagem é automática, não precisa responder. 


