<div class="email">

<span style="font-size: 22px;font-weight: bold">
X-Wing Galactic Wars
</span>
<br>
http://gw.servegame.com:4000
<br><br>
Atenção esquadrões:
<br>
<br>
<% @users.each do |f| %>
  <span style="color:#<%= f.squad.color %>;font-size: 18px;font-weight: bold">
  <%= f.squad.name %>
  </span>
  <br><br>
<% end %>
<br><br>
Turno virou!!! <%= @status %>
<br>
<br>
Esta mensagem é automática, não precisa responder. 

</div>
