<script>
  refreshParent();
  document.title = " Passar Turno "
 </script>  
<div class="fleet">
<span style=color:#<%= @squad.color %>;text-decoration:blink;font-size:14px> Esquadrão <%= @squad.name %> <%= @status %>. </span>
<br><br>
Feche este pop-up.
</div>
